
body{
	background: url('../images/01.jpg') no-repeat center fixed;
	background-size:cover;
	font-family: Lucida Console, Courier, monospace;
	background-color: pink;
}

.container{
	border-radius: 5px;
}


.jumbotron {
	border-bottom: 100px;
	margin-top: 20px;
	padding: 20px;
}
